*
{
    box-sizing: border-box;
}

body
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #E5E5E5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

feed
{
    width: 100%;
    height: 100%;
}

/*Inicio TOP BAR*/
header
{
    background-color: #FFFFFF;
    position: fixed;
    height: 80px;
    width: 100%;
    margin-top: 0px;
    padding: 22px;
    box-sizing: border-box;
    display:flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

header ion-icon 
{
    width: 43px;
    height: 31px;
    cursor: pointer;
}
/*Final TOP BAR*/

/*Inicio BOTTOM-BAR*/
footer
{
    background-color: #ffffff;
    height: 80px;
    width: 100%;
    padding: 0 18px;
    bottom: 0;
    position: fixed;
    box-sizing: border-box;
    display:flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}
footer ion-icon 
{
    height: 26px;
    width: 26px;
    cursor: pointer;
}

footer input
{
    border: none;
}
/*Final BOTTOM-BAR*/

/*Inicio OVERLAY*/
.login-overlay
{
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 3;
}

.login-overlay img
{
    width: 130px;
    height: 92px;
    margin-top: 20%;
    margin-bottom: 30%;
}

.login-overlay input
{
    width: 261px;
    height: 54px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.login-overlay button
{
    width: 109px;
    height: 45px;
    border-radius: 9px;
    border: none;
    cursor: pointer;
}
/*Final OVERLAY*/

/*PEOPLE*/
people
{
    background-color: #FFFFFF;
    width: 70%;
    height: 100%;
    z-index: 2;
    position: fixed;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.txt
{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    text-align: center;
}

.todos, .choice
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3%;
    font-size: 16px;
}

.todos ion-icon, .choice ion-icon
{
    width: 26px;
    height: 26px;
}


/*CHAT*/
.chat
{
    padding-top: 106px;
    margin-bottom: 80px;
}
ul {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: #f3f3f3;
}
  
li {
    background-color: rgb(178, 179, 179);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 40px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: black;
    margin: 4px 0px;
    border-radius: 2px;
    word-break: break-word;
    background-color: white;
    padding: 0px 9px;
  }

  .inout
  {
    background-color: #DCDCDC;
  }
  .private
  {
    background-color: #FFDEDE;
  }
  
  strong
  {
    font-weight: 700;
  }
  .h
  {
    color: #AAAAAA;
  }


/*final CHAT*/
.none
{
    display: none;
    
}